/* GENRALE */
body {
    margin: 0;
    font-family: "roboto",sans-serif;
}
div {
    display: block;
}
.FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.FlexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FlexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ColorPrimaire {
    color: #9356DC;
}
.ColorSecndaire {
    color: #FF79DA;
}
.ColorTertiaire {
    color: #99E2D0;
}
.ColorWhite {
    color: #f6f6f6;
}
.TextGras {
    font-weight: bold;
}
.LineNone {
    text-decoration: none;
}
strong {
    font-weight: bold;
    color: #000;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    padding: 0 0 12px 0;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 2.3rem;
    margin: 0;
    font-family: "shrikhand" ,sans-serif;
    font-weight: bolder;
}
h2 {
    text-decoration: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "roboto" ,sans-serif;
    padding: 1.3rem 0 0.5rem 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h3 {
   font-family: "roboto" ,sans-serif;
   font-size: 1.8rem;
}
h4 {
    color: #f6f6f6;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
p{
    font-family: "roboto" ,sans-serif;
    font-size: 17px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Loading */
.LoaderPage {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 3s;
}
.LoaderPageSpinner {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px outset #ff73da;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.Spin {
    background-color: #ff73da;
    width: 30vh;
    height: 30vh;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Header */
.HeaderLogo { 
    text-align: center;
    padding: 1rem 0 0 0;
}
 
/* Réservation */
.Réservation {
    grid-column-start: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    font-size: 26px;
    border-bottom: 5px solid #9356DC;
}
.RéservationLocal {
    width: 100%;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #73737338 inset;
}
.RéservationLocalIcon {
    margin: 0 1.5rem 0 -2rem;
}
.RéservationSearch {
    margin: 3rem 0 0 0;
}
.RéservationSearchDesktop {
    font-size: 2rem;
}

.Button {
    margin: 4rem 0 3.5rem 0;
    border-radius: 2rem;
    border: 0;
    box-shadow: 3px 3px 3px #dedada;
    font-size: 2rem;
    color: #fff;    
    padding: 1rem;
    background-image: radial-gradient(ellipse farthest-corner at 20px 0,#FF79DA 0%, #9356dc 100%);
    cursor: pointer;
}

/* Function */
.Function {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-column-start: 2;
    padding: 0 0 65px 0;
    font-size: 1rem;
    background: #f6f6f6;
    box-shadow: 3px 0 3px #73737338 inset;
    border-bottom: 5px solid #9356DC;
    cursor: pointer;
}
.FunctionTitle {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "roboto" ,sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
    box-shadow: 3px 3px 3px #ff73da inset;
}
.FunctionStep {
    display: flex;
    margin: 1.5rem 0 25px 0;
    padding: 1.8rem 0 1.3rem 0;
    background-color: #fff;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada;
    grid-column-start: 2;
}
.FunctionStepNumber {
    color: #fff;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -12px;
}
.FunctionStepIcon {
    grid-column-start: 2;
    font-size: 25px;
    color: #FF79DA;
}
.FunctionStepTitle {
    grid-column-start: 2;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Restaurants */
.Restaurants {
    display: grid;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 4rem repeat(2, 1fr);
    gap: 2rem 2rem;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fff;
}
.RestaurantsTitle {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "roboto" , sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
    box-shadow: 3px 3px 3px #ff73da inset;
}
.Card1 {
    grid-column-start: 2;
    grid-row-start: 2;
}
.Card2 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.Card3 {
    grid-column-start: 2;
    grid-row-start: 3;
}
.Card4 {
    grid-column-start: 3;
    grid-row-start: 3;
}
.RestaurantsCardText {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 1.5rem 1.5rem;
    padding-left: 1rem;
    height: 78px;
}
.RestaurantsCardImg {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 175px;
    object-fit: cover;
    grid-column-start: 2;
}
.RestaurantsCardTag {
    border-radius: 3px;
    background-color: #9356dc;
    color: #f6f6f6;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
}
.RestaurantsCard {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 250px;
    border-radius: 1.5rem;
    box-shadow: 3px 8px 8px #dedada;
    margin: 0 0 3rem 0;
}
.RestaurantsCardHeart {
    position: absolute;
    transform-origin: bottom;
    opacity: 1;
    font-size: 26px;
    right: 1.5rem;
    bottom: 1.5rem;
    cursor: pointer;
}
.RestaurantsHeartAnimation{
    position: absolute;
    opacity: 0.8;
    transform-origin: bottom;
    font-size: 25px;
    right: 1.5rem;
    bottom: 1.5rem;
}

/* Footer */
Footer {
    background-color: #353535;
    font-family: "roboto" ,sans-serif;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0 0 0 1.5rem;
    font-size: 12px;
}
.FooterLogo {
    filter: invert(100%);
    width: 105px;
    height: 15px;
    padding: 2rem 0 1.5rem 0;
    margin: 0 0 0 -10px;
}
.FooterLink {
    margin: 0 0 10px 0;
}
.WhiteIcons {
    color: #f6f6f6;
}

/* Plat */
.Return {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}
.PageMenuPict {
    grid-column-start: 2;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.PageMenuTitle {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}
.RestaurantsHeart {
    position: absolute;
    cursor: pointer;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
    top: 2.5rem;
    right: 8%;
    font-size: 1.5rem;
    color: #000;
}
.RestaurantsHeartMenu {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    top: 2.5rem;
    right: 8%;
    font-size: 1.5rem;
}
.PageMenu {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    background-color: #f6f6f6;
}
.PageMenuTitle {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}
.Menu {
    grid-column-start: 2;
}
.MenuTitle {
    padding: 3rem 0 0.5rem;
    font-size: 1.7rem;
}
.MenuTitleUnderline {
    width: 3rem;
    border-top: 5px solid #FF79DA;
    margin: 0.5rem 0 0 0;
}
.MenuDesk {
    position: relative;
    background-color: #fff;
    height: 70px;
    padding: 0 0 15px 0;
    margin: 1rem 0 12px 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada;
    grid-column-start: 2;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
.MenuDeskTitle {
    width: 100%;
    padding: 0 0 0 12px;
}
.MenuDeskSubTitle {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 1.5rem 0 12px;
}
.CircleCheck {
    background: #9ae3d1;
    margin-right: -60px;
    width: 59px;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.Text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    font-size: 1.2rem;
}
.Price {
    font-size: 1.2rem;
    font-weight: bolder;
    padding-right: 0.4rem;
    color: #000;
}
.ButtonMenuBlock {
    grid-column-start: 2;
    text-align: center;
    margin: 2.5rem 0 4.3rem 0;
    cursor: pointer;
}
.ButtonMenu {
    width: 190px;
    grid-column-start: 2;
    border-radius: 2rem;
    border: 0;
    box-shadow: 3px 3px 3px #dedada;
    font-size: 1.5rem;
    color: #f6f6f6;
    padding: 1rem;
    background-image: radial-gradient(ellipse farthest-corner at 20px 0, #ff79da 0%, #9356dc 100%);
    cursor: pointer;
    color: #fff;
}
.Footer {
    background-color: #000;
    font-family: "roboto" ,sans-serif;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0 0 0 1.5rem;
    font-size: 12px;
}
.FooterLogo {
    filter: invert(100%);
    width: 105px;
    height: 15px;
    padding: 2rem 0 1.5 0;
    margin: 0 0 0 -10px;
}
.FooterLink {
    margin: 0 0 10px 0;
}

@media screen and (max-width: 770px) {
    .Réservation {
        font-size: initial;
        border-bottom: initial;
    }
    .RéservationSearch {
        margin: 0;
    } 
    .Button {
        margin: 2rem 0 3.5rem 0;
        font-size: 1rem;
    }
    .Function {
        background: #fff;
        grid-template-columns: 1fr 90% 1fr;
        padding: 0 0 40px 0;
        border-bottom: initial;
        box-shadow: none;
    }
    .FunctionTitle {
        grid-column-start: 2;
        background-color: #fff;
        box-shadow: none;
        padding: 3.5rem 0 2rem 0;
        text-align: start;
    }
    .FunctionStep {
        background-color: #fff;
        margin: 0 0 25px 0;
    }
    .Restaurants {
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: none;
        gap: 0;
        background: #f6f6f6;
    }
    .RestaurantsTitle {
        background: #f6f6f6;
        padding: 3.8rem 0 1.5rem 0;
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .Card1 {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .Card2 {
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .Card3 {
        grid-column-start: 2;
        grid-row-start: 4;
    }
    .Card4 {
        grid-column-start: 2;
        grid-row-start: 5;
    }
}