@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

strong {
    font-weight: bold;
    color: #000;
    font-size: 1.4rem;
}

.PrimaryColor {
    color: #9356DC;
}

.SecondaryColor {
    color: #FF79DA;
}

.ThirdColor {
    color: #99E2D0;
}

.LineNone {
    text-decoration: none;
}

li {
    padding: 0 0 12px 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Shrikhand", cursive;
    text-align: center;
    margin: 20px 0 auto;
}

h2 {
    font-family: "Shrikhand", cursive;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4, p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

/*  HEADER  */
.HeaderLogo {
    text-align: center;
    padding: 1rem 0 0 0;
}

/*  BUTTON RETURN  */
.Return {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    color: #000;
}

/*  FOOTER  */
footer {
    background-color: #353535;
    font-family: "Roboto", sans-serif;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0 0 0 1.5rem;
    font-size: 12px;
}

.FooterLink {
    padding-left: 0;
    list-style-type: none;
    line-height: 25px;
    cursor: default;
    margin: 0 0 10px 0;
}

.FooterLogo {
    filter: invert(100%);
    width: 105px;
    height: 15px;
   padding: 2rem 0 1.5rem 0;
   margin: 0 0 0 -10px;
}

.WhiteIcons {
    color: #f6f6f6;
}

/*  PARTIE RESERVATION  */
.Réservation {
    grid-column-start: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    font-size: 24px;
    border-bottom: 5px solid #9356DC;
}

.RéservationLocal {
    width: 100%0;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #73737338 inset;
}

.RéservationLocalIcon {
    margin: 0 1.5rem 0 -2rem;
}

.RéservationSearchTitle {
    padding: 0 40px;
}

.RéservationSearch {
    margin: 3rem 0 0 0;
}

.RéservationSearchDesk {
    font-size: 2rem;
}

/*  PARTIE FONCTIONNEMENT  */
.Function {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-column-start: 2;
    padding: 0 0 65px 0;
    font-size: 1rem;
    background: #f6f6f6;
    box-shadow: 3px 0 3px #73737338 inset;
    border-bottom: 5px solid #9356DC;
    cursor: pointer;
}

.FunctionStep {
    display: flex;
    margin: 1.5rem 0 25px 0;
    padding: 1.8rem 0 1.3rem 0;
    background-color: #fff;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada;
    grid-column-start: 2;
}

.FunctionStep:hover {
    background-color: rgba(147, 86, 220, 0.1);
    cursor: default;
}
  
.FunctionStep:hover .FunctionStepIcon {
    color: #9356DC;
}
  
.FunctionStepIcon {
    grid-column-start: 2;
    font-size: 25px;
    color: #FF79DA;
}

.FunctionStepTitle {
    grid-column-start: 2;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
  
.FunctionStepNum {
    color: #fff;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem  -12px;    
}
  
/*  MAIN ACCUEIL - section restaurants  */
.Restaurants {
    display: grid;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 4rem repeat(2, 1fr);
    gap: 2rem 2rem;
    -webkit-box-pack: center;
    justify-content: center;
    background: #f6f6f6;
}
  
.RestaurantsCardImg {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 175px;
    object-fit: cover;
    grid-column-start: 2;
}
  
.RestaurantsCard {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 250px;
    border-radius: 1.5rem;
    box-shadow: 3px 8px 8px #dedada;
    margin: 0 0 3rem 0;
}
  
.Card1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.Card2 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.Card3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.Card4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.RestaurantsCardText {
    position: relative;
    background-color: #f6f6f6;
    border-radius: 0 0 1.5rem 1.5rem;
    padding-left: 1rem;
    height: 75px;
}
  
.RestaurantsTitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background: #f6f6f6;
    margin: 0;
    padding: 1rem 0 2rem 1.2rem;
    grid-column-start: 2;
}

.RestaurantsCardTag {
    border-radius: 3px;
    background-color: #9356DC;
    color: #f6f6f6;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
}
  
/*  PageMenu  */
.PageMenu {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    background-color: #f6f6f6;
}
.PageMenuTitle {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}

.PageMenuPict{
    grid-column-start: 2;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
   
.Menu {
    grid-column-start: 2;
}
.MenuTitle {
    padding: 3rem 0 0.5rem;
    font-size: 1.9rem;
}

/*  MENUPAGE  */
.MenuTitleUnderline {
    width: 3rem;
    border-top: 5px solid #ff79da;
    margin: 0.5rem 0 0 0;
}
  
.MenuDesk {
    position: relative;
    background-color: #f6f6f6;
    height: 70px;
    padding: 0 0 15px 0;
    margin: 1rem 0 12px 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px #dedada;
    grid-column-start: 2;
}

.MenuDeskTitle {
    width: 100%;
    padding: 0 0 0 12px;
}

.MenuDeskSubTitle {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 1.5rem 0 12px;
}
  
/*  LOADER  */
.LoaderPage {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 2.6s;
}
  
.LoaderPageSpinner {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 15px outset #000000;
    display: flex;
    animation-duration: 1220ms;
    -webkit-animation-duration: 1220ms;
}

.Spin {
    background-color: #ff73da;
    width: 30vh;
    height: 30vh;
    animation: spin 3s linear infinite;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*  ANIMATION - Page blanche Loader */
.LoaderStart {
    animation: WhitePage 5s;
}
  
@keyframes WhitePage {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
/*  Map et Commander  */
.Button {
    color: #ffffff;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    transition: opacity 1s;
}
  
.Button:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
  
/*  Heart  */
.Heart {
    position: absolute;
    cursor: pointer;
    transform-origin: bottom;
    opacity: 1%;
    right: 8%;
    top: 2.5rem;
    font-size: 1.5rem;
    color: #000;
}
  
.HeartAnim {
    position: initial;
    margin-top: 20px;
}
  
@keyframes Heart {
    0% {
      opacity: 0;
    }
    50% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
    100% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
}
/*  BOUTONS - sélection plats  */
.Ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin: 20px 0 0 10px;
}
  
.Text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    font-size: 1.2rem;
}
  
.Price {
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 0.4rem;
    color: #000;
}
  
.ButtonDish {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px gainsboro;
    margin-top: 20px;
    height: 70px;
} 
 
.ButtonDish:hover .Box {
    width: 70px;
}

.ButtonDish:hover .Box > .Check {
    transform: rotate(0deg);
}

.Box {
    overflow: hidden;
    text-align: center;
    background: #99E2D0;
    width: 0;
    align-items: center;
    transition: width 1s;
    padding-top: 25px;
}
  
.Check {
    display: inline-block;
    margin: auto;
    color: #fff;
    font-size: 25px;
    transform: rotate(360deg);
    transition: transform 500ms;
}

/*  ANIMATION - Apparition boutons sélection  */
.Up {
    animation: fadein 1s;
}
  
.Button1 {
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
  
.Button2 {
    animation-delay: 150ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
  
.Button3 {
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
  
.Button4 {
    animation-delay: 450ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
  
@keyframes fadein {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}